.idea
**/*.iml
**/target/
examples/pom.xml.releaseBackup
pom.xml.releaseBackup
release.properties
scala/pom.xml.releaseBackup
scala/scala_2.11/pom.xml.releaseBackup
scala/scala_2.12/pom.xml.releaseBackup
scala/scala_2.13/pom.xml.releaseBackup
