name: Cucumber Scala CI

on:
  workflow_call:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - renovate/**

jobs:
  build:
    name: Build and test
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        java:
          - 17
          - 21
          - 25
    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Cache sbt
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
      with:
        path: |
          ~/.sbt
          ~/.ivy2/cache
          ~/.cache/coursier
        key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

    - name: Set up JDK
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'

    - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1

    - name: Formatting check
      run: sbt scalafmtCheckAll

    - name: Run tests
      run: sbt +compile +test

