name: Release scala package

on:
  push:
    branches:
      - release/*

jobs:
  pre-release-check:
    uses: cucumber/.github/.github/workflows/prerelease-checks.yml@main

  build:
    uses: ./.github/workflows/build.yml

  publish-sbt:
    name: Publish scala package
    needs: [pre-release-check, build]
    runs-on: ubuntu-latest
    environment: Release

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: "17"

      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1

      - uses: cucumber/action-publish-sbt@38eca71785261ae2763630bf0c2f551365263600 # v1.0.2
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          nexus-username: ${{ secrets.SONATYPE_USERNAME }}
          nexus-password: ${{ secrets.SONATYPE_PASSWORD }}

  create-github-release:
    name: Create GitHub Release and Git tag
    runs-on: ubuntu-latest
    needs: [publish-sbt]
    environment: Release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: cucumber/action-create-github-release@cf2c6f77ba35d2424362e83393a1c4c004cf2ddb # v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}