name: Version policy check

on:
  pull_request:
    branches:
    - main

jobs:
  versionpolicycheck:
    name: Version policy check
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        java:
          - 21
    runs-on: ${{ matrix.os }}
    steps:

      - uses: actions/checkout@v6

      - name: Cache sbt
        uses: actions/cache@v5
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.cache/coursier
          key: ${{ runner.os }}-sbt-cache-v2-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('project/build.properties') }}

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - uses: sbt/setup-sbt@v1

      - name: Version check
        run: sbt "project cucumberScala" versionPolicyCheck
